@page
@model AZ_trev_web_spp.Pages.DeploymentSoltsModel
@{
    ViewData["Title"] = "Deployment Solts Page";
}

<div class="text-center">
    <h1 class="display-4">Testing solts</h1>
    @*  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <h3>Validating the deployment solt feature</h3>
</div>
